<div class="row" id="spectra-stripe">
    <span class="span1 palette palette-night-dark"></span>
    <span class="span1 palette palette-firm-dark"></span>
    <span class="span1 palette palette-wisteria"></span>
    <span class="span1 palette palette-info-dark"></span>
    <span class="span1 palette palette-success-dark"></span>
    <span class="span1 palette palette-bright"></span>
    <span class="span1 palette palette-bright-dark"></span>
    <span class="span1 palette palette-pumpkin"></span>
    <span class="span1 palette palette-alizarin"></span>
    <span class="span1 palette palette-pomegranate"></span>
</div>